.stage{
    position: relative;
    width: 100%;
    height: 680px;
    background-color: #222;
}
img{
    height:240px;
    width:240px;
}
.img{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #dddddd;
    @at-root{
        .ImgFigure{
            position: absolute;
            height: 360px;
            width:320px;
            margin: 0;
            padding: 40px;

            background-color: #ffffff;
            box-sizing: border-box;
        }
    }
    figcaption{
        text-align: center;
        .ImgTitle{
            margin: 20px 0 0 0;
            color: #a7a0a2;
            font-size: 16px;
        }
    }
   
}

.controllerNav{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
}
.test-rotate{
    transform: rotate(30deg);
}



